body.home article.post p.post-nav-links {
  display: none;
}
#header .inner-header .container {
  padding: 20px 0;
}
.akismet_comment_form_privacy_notice {
  display: none;
}
body.penci-body-boxed {
  background-image: none !important;
  position: relative;
}
img.background-cover {
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100%;
}
